---
import { CalendarDays } from "@lucide/astro";
import { Image } from "astro:assets";
import ExploreMore from "../ExploreMore.astro";
import CircleCheck from "./assets/circlecheck.png";
import { CAL_COM_BOOKING_LINK } from "../../consts";
import Footer from "../Footer.astro";
import ContactForm from "./ContactForm";

---

<div class="container mx-auto px-[16px]">
  <h1
    class:list={[
      "text-[40px] font-medium text-center",
      "mx-auto",
      "mt-[60px]",
    ]}
  >
    How can we Help?
  </h1>
  <p
    class:list={[
      "text-[20px] font-normal text-[var(--color-secondary)] text-center",
      "max-w-[600px] mx-auto leading-tight",
      "mt-[24px]",
    ]}
  >
    Contact our sales and support teams for demos, onboarding guidance, or
    answers to product questions.
  </p>

  <div
    class:list={[
      "max-w-[1200px] mx-auto mt-[60px]",
      "flex bg-[rgba(0,0,0,0.01)] rounded-[12px] p-[64px]",
      "flex-col",
      "md:flex-row md:items-center md:justify-between",
    ]}
  >
    <div>
      <h2 class="text-[24px] font-semibold">Sales</h2>
      <p
        class="mt-[20px] text-[16px] leading-tight text-[var(--color-secondary)] max-w-[420px]"
      >
        Speak to our sales team about plans, pricing, enterprise contracts, or
        request a demo. Talk to sales.
      </p>
      <ul
        class="mt-[32px] flex flex-col gap-[12px] text-[14px] text-[var(--color-secondary)]"
      >
        <li>
          <span class="flex items-center gap-[12px]">
            <Image
              class="w-[20px] h-[20px]"
              src={CircleCheck}
              alt="Circle Check"
            />
            Request a demo
          </span>
        </li>
        <li>
          <span class="flex items-center gap-[12px]">
            <Image
              class="w-[20px] h-[20px]"
              src={CircleCheck}
              alt="Circle Check"
            />
            Understand what problems ScopedDB can actually solve.
          </span>
        </li>
        <li>
          <span class="flex items-center gap-[12px]">
            <Image
              class="w-[20px] h-[20px]"
              src={CircleCheck}
              alt="Circle Check"
            />
            Get onboarding help
          </span>
        </li>
      </ul>

      <button
        class="mt-[32px] bg-[var(--color-brand)] py-[10px] px-[16px] rounded-[10px] cursor-pointer"
        data-cal-link={CAL_COM_BOOKING_LINK}
      >
        <span class="flex items-center gap-[10px] text-[14px] text-[white]">
          <CalendarDays width={16} height={16} />
          Book A Demo
        </span>
      </button>
    </div>
    <div class="md:w-[420px] md:mt-0 mt-[40px]">
      <ContactForm client:load />
    </div>
  </div>
  <div class="mt-[80px] mb-[160px] max-w-[1200px] mx-auto">
    <ExploreMore showBlog={false} />
  </div>
  
</div>
<Footer />

